/*===============RESET============*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0; 
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #FEFEFE;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
main{
    width: 100%;
}

/*===============CABECALHO============*/

.cabecalho{
    position: fixed;
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
    border-bottom: 2px solid #00bce3;
    background-color: #FFF;
}
.logo{
    float: left;
    width: 50%;
    margin-left: 2%;
    margin-top:-1%;
}

.btn-menu{
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #FFF;
    border-radius: 56px;
    cursor: pointer;
    margin-top: 3%;
    margin-right: 5%;
    background: linear-gradient(to right,#00bce3, #0055a4);
    border: none;
}


/*==========MENU===========*/
.menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,.9);
}

.btn-close{
    font-size: 1.5em; 
    color: #fff;
    float: right;
    cursor: pointer;
    margin:2% 3% 0 0;
    transition: .3s;
}
.btn-close:hover{
    color: #06b9e2;
}
.menu ul{
    width: 100%;
    float: left;
    text-align: center;
}
.menu li{
    padding: 1.5%;
}
.menu li a{
    font-size: 2em;
    color:#FFF;
    padding: 1.5% 3%;
    text-decoration: none;
    transition: .3s;
}
.menu li a:hover{
    border: 1px solid #0255a5;
    color: #06b9e2;
} 


/*======main=======*/

.servico{
    width: 90%;
    text-align: center;
    margin: auto;
}
.servico h2{
    margin-top: 15%;
    display: inline-block;
    font-family: "Quicksand", Sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #0255a5;
}
.servico h3{
    margin-top: 10%;
    font-family: "Quicksand", Sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: #0255a5;
}
.servico p{
    margin-top: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #969696;
}

/*=====cadastrar====*/

.cadastrar{
    margin-top: 4%;
    text-align: center;
    width:100%;
}
.cadastrar button{
    font-weight: bold;
    font-size: 24px;
    font-family: "Quicksand", Sans-serif;
    color:#06b9e2;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: none;
    border: 2px solid #06b9e2;
    height: 60px;
    width: 250px;
    cursor: pointer;
    transition: .2s;

}

.cadastrar button:hover{
    height: 70px;
    width: 280px;
    background: linear-gradient(to top,#06b9e2, #0255a5);
    color: #FFF;
}

/*====seta=====*/
.para-seta{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(251,251,251);
}
.seta{
    font-size: 90px;
    color: aqua;
    margin: auto;
    color: #0055a4;
    margin-bottom: 5%;

}
.seta:hover{
    color: #00bce3;

}

/*======proposito=====*/
#proposito{
    background-color: #FFF;
    width: 100%;
    text-align: center;
}
#proposito h3{
    padding-top: 40px;
    font-family: "Quicksand", Sans-serif;
    font-weight: 600;
    color: #666666;
    font-size: 2em;
}

#proposito p{
    margin-top: 30px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: #797979;
}
.span{
    color: #0255a5;
}
/*===Section como funciona===*/
.secao{
    width: 100%;
}
.secao h3{
    text-align: center;
    color: #0255a5;
    font-size: 2em;
    font-family: "Quicksand", Sans-serif;
    font-weight: 600;
}
.secao{
    text-align: center;
}
.section{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.section div{
    width: 40%;
}

.como_funciona i{
    color: #0055a4;
    font-size: 5em;
    margin-bottom: 20px;
}
.section div h4{
    color:#0255a5;
    font-size: 1.5em;
}
.section div p{
    font-size: 1.2em;
    color: #969696;
    font-family: Arial, Helvetica, sans-serif;
}
/*=====DEPOIMENTOS=====*/
aside{
    width: 100%;
}
.depoimentos{
    margin: auto;
    width: 98%;
    text-align: center;
    background-color: rgb(247,247,247);
}
.depoimentos h2{
    padding-top: 30px;
    font-family: "Quicksand", Sans-serif;
    font-weight: 600;
    color: #666666;
    font-size: 1.5em;
}

.aspas{
    text-align: left;
}
.texto_paciente{
    text-align: left;
    margin-right: 10px;
}
.nome_paciente{
    margin-top: 10px;
    text-align: left;
    color: #0255a5;
    font-size: 2em;
}
.idade_paciente{
    text-align: left;
    color: #666666;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.aspas{
   margin-bottom: -40px; 
    font-family: "Quicksand", Sans-serif;
    font-size: 5em;
    color: #0255a5;
}

/*footer*/

footer{
    border-top: 1px solid #0255a5;
    margin-top: 10px;
    background-color: #FEFEFE;   
    font-size: 1em;
    width: 100%;
    line-height: 60px;
    text-align: center;

}
footer h3{
    color: #0255a5;
    font-size: 2em;
}
footer h4{
    color: #034553;    
    font-size: 1.5em;
}
footer p{
    margin-top: -30px;
    color: #034553;
    font-size: 1em;
}

.div_footer{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
}


@media screen and (max-width:899px){
    .servico h2{
        margin-top: 30%;
    }
    .logo{
        width: 25%;
    }
    .section{
        flex-wrap: wrap;
    }
    .section div{
        margin: auto;
        width: 90%;
        margin-bottom: 40px;
    }
    .div_footer{
        width: 50%;
    }
}
@media screen and (max-width:760px){
    .logo{
        width: 40%;
    }
    footer h3{
        font-size:2em;
    }
    .div_footer{
        flex-wrap: wrap;
    }
    .div_footer h4{
        font-size: 1em;
    }
    .div_footer p{
        font-size:0.8em;
    }
}
@media screen and (min-width:900px){
    /*===============CABECALHO============*/

    .logo{
        width: 20%;
    }
    .btn-menu{display: none;}
    .btn-close{display: none;}

    .menu{
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        background-color: #FFF;
        display: block !important;
        position: relative;
        left: -50px;
    }
    .menu li{
        padding: 0;
        float: left;
    }
    .menu li a{
        padding: 0;
        float: left;
        color: #130400;
        font-size: 1em;
        padding: 15px;
    }
    .menu li a:hover{
        border:none;
        color:#0255a5;
    }
    .section div{
        padding:10px;
       
    }
    .border_div{
        border-right: 1px solid #006ed4;
    }
    
}
@media (min-width:1000px){
    .cabecalho{
        position: relative;
    }
}

@media screen and (min-width:1200px){
    /*===============CABECALHO============*/
    body{
        overflow-x: hidden;
    }
    .cabecalho{
        height: 80px;
        margin-bottom: -200px;
    }
    .btn-menu{display: none;}
    .btn-close{display: none;}

    .menu{
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        background-color: #FFF;
        display: block !important;
        position: relative;
    }
    .menu li{
        padding: 0;
        float: left;
    }
    .menu li a{
        padding: 0;
        float: left;
        color: #130400;
        font-size: 1.5em;
        padding: 15px;
    }
    .menu li a:hover{
        border:none;
        color:#0255a5;
    }
    .logo{
        float: left;
        width: 20%;
        margin-left: 2%;
        margin-top:-1%;
    }

}
